# Composer
.composer
vendor/*
!*/vendor/*

# Sass
.sass-cache

# Grav Specific
backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/accounts/*
!user/accounts/.*
user/data/*
!user/data/.*
user/localhost/config/security.yaml
user/chroma.space

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

user/config/security.yaml

tests/_output/*
tests/_support/_generated/*
tests/cache/*
tests/error.log

# Deployer 
deploy/*
!deploy/nginx.conf

CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.txt
webserver-configs
TODO.todo

now.json

user/media/*.jpeg